.container{
    display: flex;
    height: 600px;
    width: 100000px;
    background-color: rgb(26, 220, 230);
    border: 1px solid black;
    /* flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: space-between; */
    gap: 2;
}

.item{
    height: 200px;
    width: 200px;
    border: 1px solid black;
    background-color: red;
    /* flex-grow: 2; */
}

.item2{
    order: 3;
    flex-grow: 2;
}